{% extends "base/basic_template.html" %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/hidde_button.css') }}">
{% endblock %}

{% block title %}Registrar Usuario{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
    Registrar y manejar usuarios
  </p>
</div>
{% endblock %}

{% block main %}


<section class="hero is-link">
  <div class="hero-body">
    <!-- Tabs horizontales -->
    <div class="tabs is-boxed has-text-black-bis is-size-5 ">
      <ul>
        <li class="is-active" data-target="search">
          <a>Busqueda</a>
        </li>
        <li data-target="edit">
          <a>Edicion de usuario</a>
        </li>
      </ul>
    </div>
    <!-- Tabs horizontales fin -->

    <!-- Este contenido es un ejemplo de la funcionalidad del file js/tabs.js
    En este caso todo el contenido es cargado a la web pero ocultado excepto
    por el contenido con el tag "is-active"  -->
    <div class="px-2" id="tab-content">
      <div id="search">
        <div class="box">
          <!-- Filtros -->
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Buscar usuario">
            </div>
            <div class="control">
              <a class="button is-info">
                Buscar
              </a>
            </div>
          </div>
          <!-- Dropbox de Busqueda -->
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Estado de usuario</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Todos</option>
                      <option>Activos</option>
                      <option>Inactivos</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Roles de usuario</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Todos</option>
                      <option>Administrador</option>
                      <option>Agente Helpdesk</option>
                      <option>Usuario</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Area del usuario</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Todos</option>
                      <option>Administracion</option>
                      <option>Marketing</option>
                      <option>Finanzas</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
          <!-- Dropbox de Busqueda Fin -->
          
    
          <!-- Filtros Fin -->
        </div>
      </div>
      
      <div  id="edit" class="is-hidden">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Estado de usuario</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>Acciones</option>
                    <option>Habilitar usuario</option>
                    <option>Deshabilitar usuario</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control">
              <a class="button is-info">
                Aplicar
              </a>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Rol de usuario</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>Administrador</option>
                    <option>Agente Helpdesk</option>
                    <option>Usuario</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control">
              <a class="button is-info">
                Aplicar
              </a>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Area del usuario</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>Administracion</option>
                    <option>Marketing</option>
                    <option>Finanzas</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control">
              <a class="button is-info">
                Aplicar
              </a>
            </div>
          </div>
        </div>

        
      </div>


    </div>
    <!-- Fin Ejemplo -->
  
    
  </div>
</section>


<section class="hero tables-info">
  
  
  <div class="box">
    
    <nav class="panel">
    
      <p class="panel-tabs">
        <a class="is-active">Todos</a>
        <a>Activos</a>
        <a>Inactivos</a>
      </p>
      <!-- Tabla -->
      <div class="columns is-size-6">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="table-container">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Selecciona</th>
                  <th>ID</th>
                  <th>Foto</th>
                  <th>Nombre</th>
                  <th>Area</th>
                  <th>Rol</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Selecciona</th>
                  <th>ID</th>
                  <th>Foto</th>
                  <th>Nombre</th>
                  <th>Area</th>
                  <th>Rol</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
            
              <tbody>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>001</th>
                  <td>
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                      </figure>
                    </div>
                  </td>
                  <td>Bulma ABC</td>
                  <td>IT</td>
                  <td>Administrador</td>
                  <td>Activo</td>
                  <td>
                    <a class="button">
                      <span class="icon is-small">
                        <i class="fa fa-ellipsis-v "></i>
                      </span>
                    </a>
                  </td>
                </tr>
            
                <tr>
                  <th><input type="checkbox"></th>
                  <th>002</th>
                  <td>
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                      </figure>
                    </div>
                  </td>
                  <td>Vegeta ABC</td>
                  <td>IT</td>
                  <td>HelpDesk</td>
                  <td>Activo</td>
                  <td>
                    <a class="button">
                      <span class="icon is-small">
                        <i class="fa fa-ellipsis-v "></i>
                      </span>
                    </a>
                  </td>
                </tr>
          
                <tr>
                  <th><input type="checkbox"></th>
                  <th>003</th>
                  <td>
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                      </figure>
                    </div>
                  </td>
                  <td>Goku ABC</td>
                  <td>Finanzas</td>
                  <td>Usuario</td>
                  <td>Activo</td>
                  <td>
                    <a class="button">
                      <span class="icon is-small">
                        <i class="fa fa-ellipsis-v "></i>
                      </span>
                    </a>
                  </td>
                </tr>
                
                <tr>
                  <th><input type="checkbox"></th>
                  <th>004</th>
                  <td>
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                      </figure>
                    </div>
                  </td>
                  <td>Yamcha ABC</td>
                  <td>Ventas</td>
                  <td>Usuario</td>
                  <td>Inactivo</td>
                  <td>
                    <a class="button">
                      <span class="icon is-small">
                        <i class="fa fa-ellipsis-v "></i>
                      </span>
                    </a>
                  </td>
                </tr>
          
              </tbody>
            </table>
            <!-- Pagination -->
            <div class="pagination is-rounded" role="navigation" aria-label="pagination">
              <a class="pagination-previous">Previous</a>
              <a class="pagination-next">Next page</a>
              <ul class="pagination-list">
                <li><a class="pagination-link is-current" aria-label="Goto page 1" aria-current="page">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link" aria-label="Page 46">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
              </ul>
            </div>
            <!-- Pagination End-->
          </div>
        </div>
      </div>
      <!-- Tabla Fin-->
      

    </nav>

  </div>



</section>


{% endblock %}

{% block jsimport %}
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/panels.js') }}"></script>
{% endblock %}