{% extends "base/basic_template.html" %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
    Dashboard
  </p>
</div>
{% endblock %}

{% block main %}
<div class="columns is-centered">
  <div class="column is-8">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jsimport %}

{% endblock %}