{% extends "base/basic_template.html" %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
    Inicio
  </p>
</div>
{% endblock %}

{% block main %}
<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Hero title
    </p>
    <p class="subtitle">
      Hero subtitle
    </p>
  </div>
</section>
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Hero title
    </p>
    <p class="subtitle">
      Hero subtitle
    </p>
  </div>
</section>
{% endblock %}

{% block jsimport %}

{% endblock %}