{% extends "base/basic_template.html" %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
    Inicio
  </p>
</div>
{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home</h1>
    </div>
  </div>
</div>

{% endblock %}

{% block jsimport %}

{% endblock %}