{% extends "base/basic_template.html" %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
    Inicio
  </p>
</div>
{% endblock %}

{% block main %}
<section class="hero is-link">
  <div class="columns is-variable is-0">
    <div>
      <div class="menu-container px-1 has-background-white">
        <div class="menu-wrapper py-1">
          <aside class="menu">
            <p class="menu-label has-text-lighter">General</p>
            <ul class="menu-list">
              <li>
                <a href="#" class="has-text-black">
                  <i class="fas fa-tachometer-alt icon"></i>
                  Dashboard</a
                >
              </li>
            </ul>
            <p class="menu-label has-text-lighter">Administration</p>
            <ul class="menu-list">
              <li>
                <a href="#" class="is-active has-background-primary">
                  <i class="fas fa-cogs icon"></i>
                  Settings</a
                >
              </li>
              <li>
                <a href="#" class="has-text-black">
                  <i class="fas fa-users-cog icon"></i>
                  Manage Team</a
                >
                <ul>
                  <li>
                    <a href="#" class="has-text-black">
                      <i class="fas fa-users icon"></i>
                      Members</a
                    >
                  </li>
                  <li>
                    <a href="#" class="has-text-black">
                      <i class="fas fa-user-plus icon"></i>
                      Add New</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <p class="menu-label has-text-lighter">Other</p>
            <ul class="menu-list">
              <li>
                <a href="#" class="has-text-black">
                  <i class="fas fa-comments icon"></i>
                  Chats</a
                >
              </li>
              <li>
                <a href="#" class="has-text-black">
                  <i class="fas fa-info-circle icon"></i>
                  Extras</a
                >
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>

    <div class="hero-body">
      <p class="title">
        Hero title
      </p>
      <p class="subtitle">
        Hero subtitle
      </p>
    </div>
    <!-- Tabs -->
    <div class="tabs is-boxed">
      <ul>
        <li class="is-active" data-target="product-details">
          <a>Product Details
            <!-- <span class="icon is-small"><i class="fas fa-image"></i></span>
            <span>Pictures</span> -->
          </a>
        </li>
        <li data-target="delivery-information">
          <a>Delivery Information
            <!-- <span class="icon is-small"><i class="fas fa-music"></i></span>
            <span>Music</span> -->
          </a>
        </li>
        <!-- <li>
          <a>
            <span class="icon is-small"><i class="fas fa-film"></i></span>
            <span>Videos</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><i class="fas fa-file-alt"></i></span>
            <span>Documents</span>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="px-2" id="tab-content">
      <div id="product-details">
        <h3 class="is-size-5 title">Product Details</h3>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
      </div>
      
      <div  id="delivery-information" class="is-hidden">
        <h3 class="is-size-5 title">Delivery Information</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, id!
        </p>
      </div>
    </div>


  </div>
</section>
<section class="hero is-primary">
  
  </div>

</section>










{% endblock %}

{% block jsimport %}
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
{% endblock %}