{% extends "base/basic_template.html" %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
{% endblock %}

{% block title %}Registra un ticket{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
  Registra un ticket
  </p>
</div>
{% endblock %}

{% block main %}


    
      <div class="columns is-centered">
        <div class="column is-8">
          <!-- Form -->
          <form action="" class="box">
            <label class="label"> Titulo </label>
            <input class="input" type="text" placeholder="¿Qué Problema tiene?">
            <label class="label"> Tipo </label>
            <input class="input" type="text" placeholder="¿Hardware/Software?">
            <label class="label"> Lugar </label>
            <input class="input" type="text" placeholder="¿Area de la compañia?">
            <label class="label"> Descripcion </label>
            <textarea class="textarea" placeholder="Describa su problema"></textarea>

            <!-- Botones -->
            <div class="file has-name is-boxed mt-4 mb-4" >
              <label class="file-label">
                <input class="file-input" type="file" name="foto" >
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    <p class="opcion">
                      Suba un archivo
                    </p>
                    <p class="content">
                      (opcional)
                    </p>
                  </span>
                </span>
                <span class="file-name">
                  Foto del problema
                </span>
              </label>
              <button class="button is-large is-link m-auto">Enviar</button>
            </div>
          </form>
            
        </div>
      </div>



{% endblock %}

{% block jsimport %}

{% endblock %}