<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/b1d50740c6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  {% block cssimport %}
  <!-- Bloque CSS -->
  {% endblock %}

  <!-- debugger.css es para ayudar con el maketado -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <input type="hidden" id="token" name="token" value="{{ token }}">
  <!-- navbar -->
  <nav class="navbar is-fixed-top box-shadow-y">
    <!-- Burger Menu js/navbar.js to work-->
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('admin')}}">
          Ver Tickets
        </a>
        <a class="navbar-item has-background-link has-text-white" href="{{ url_for('ticket_register_Administrador')}}">
          Crea un ticket
        </a>
        <a class="navbar-item" href="{{ url_for('User_Administration')}}">
          Administra Usuarios
        </a>
        <a class="navbar-item has-background-link has-text-white" href="{{ url_for('create_usr')}}">
          Crear Usuario
        </a>
      </div>

      <div class="navbar-end">
        <a href="#" class="navbar-item">
          Notificaciones
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link">

          </a>
          <div class="navbar-dropdown is-right">
            <a href="/admin_profile/{{User_session_id}}" class="navbar-item">
              Perfil
            </a>
            <a href="#" class="navbar-item">Opciones</a>
            <hr class="navbar-divider" />
            <a href="{{ url_for('logout')}}" class="navbar-item">Salir</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
  <!-- navbar Fin -->

  {% block header %}
  {% endblock %}

  {% block main %}
  {% endblock %}


  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>Este Projecto fue hecho por</p>
        <p>Renzo Perez</p>
        <p>Joshua Enrico</p>
        <p>Renato Leon</p>
      </div>
    </div>
    </div>
  </footer>
  <script src="{{ url_for('.static', filename='js/navbar.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/dropdown.js') }}"></script>
  {% block jsimport %}
  <!-- js block -->

  {% endblock %}

</body>

</html>
