{% extends "base/basic_template_Administrador.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/hidde_button.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../../static/scripts/script.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

{% endblock %}

{% block title %}Registrar Usuario{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
    Usuarios
  </p>
</div>
{% endblock %}

{% block main %}
<section class="hero is-primary">
  <div class="hero-body">
    
    <div class="box">
        <!-- Filtros -->
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Buscar usuario">
          </p>
          <p class="control">
            <a class="button is-info">
              Buscar
            </a>
          </p>

          
        </div>
        <div class="field is-grouped">
          <p class="control">
            <div class="tags are-medium">
              <span class="tag is-white">Tipos de usuario</span>
            </div>
            <div class="select">
              <select>
                <option>Todos</option>
                <option>Activos</option>
                <option>Inactivos</option>
              </select>
            </div>
          </p>
        </div>
        <div class="field is-grouped">
          <p class="control">
            <div class="select">
              <select>
                <option>Acciones</option>
                <option>Habilitar usuario</option>
                <option>Deshabilitar usuario</option>
              </select>
            </div>
          </p>
          <p class="control">
            <a class="button is-info">
              Aplicar
            </a>
          </p>
        </div>
        <!-- Filtros Fin -->
    </div>
  </div>
</section>
<section class="hero tables-info">
  
  <div class="box">
    <nav class="panel">
    
      <p class="panel-tabs">
        <a class="is-active">Todos</a>
        <a>Activos</a>
        <a>Inactivos</a>
      </p>
      <!-- Tabla -->
      <div class="table-container">
        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Area</th>
              <th>Rol</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Area</th>
              <th>Rol</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </tfoot>
        
          <tbody class='users'>
            <tr>
              <th>001</th>
              <td>
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                  </figure>
                </div>
              </td>
              <td>Bulma ABC</td>
              <td>IT</td>
              <td>Administrador</td>
              <td>Activo</td>
              <td>
                <a class="button">
                  <span class="icon is-small">
                    <i class="fa fa-ellipsis-v "></i>
                  </span>
                </a>
              </td>
            </tr>
        
            <tr>
              <th>002</th>
              <td>
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                  </figure>
                </div>
              </td>
              <td>Vegeta ABC</td>
              <td>IT</td>
              <td>HelpDesk</td>
              <td>Activo</td>
              <td>
                <a class="button">
                  <span class="icon is-small">
                    <i class="fa fa-ellipsis-v "></i>
                  </span>
                </a>
              </td>
            </tr>
      
            <tr>
              <th>003</th>
              <td>
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                  </figure>
                </div>
              </td>
              <td>Goku ABC</td>
              <td>Finanzas</td>
              <td>Usuario</td>
              <td>Activo</td>
              <td>
                <a class="button">
                  <span class="icon is-small">
                    <i class="fa fa-ellipsis-v "></i>
                  </span>
                </a>
              </td>
            </tr>
            
            <tr>
              <th>004</th>
              <td>
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                  </figure>
                </div>
              </td>
              <td>Yamcha ABC</td>
              <td>Ventas</td>
              <td>Usuario</td>
              <td>Inactivo</td>
              <td>
                <a class="button">
                  <span class="icon is-small">
                    <i class="fa fa-ellipsis-v "></i>
                  </span>
                </a>
              </td>
            </tr>
      
          </tbody>
        </table>
      </div>
      <!-- Tabla Fin-->
      
      </div>
    </nav>

    <div class="block">
      <a class="button is-info" id="toggler" value="Toggler" onClick="action();">Info</a>
      <div class="box" id="togglee" value="Togglee">
        <a class="button is-info" id="b1">b1</a>
        <a class="button is-info" id="b2">b2</a>
      </div>
    </div>
    

  </div>
  <form class="form-signin" id='create_user'>
    <h2 class="form-signin-heading">Crear Nuevo Usuario</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.Username) }}
    <p id='User_Exists'>{{ User_Exists }}</p>
    {{ wtf.form_field(form.Email)}}
    <p id='Email_Exist'>{{ Email_Exist }}</p>
    {{ wtf.form_field(form.Nombre) }}
    {{ wtf.form_field(form.Apellido) }}
    {{ wtf.form_field(form.Password) }}
    {{ wtf.form_field(form.Confirmed_Password) }}
    <p id='Not_equal'>{{ Not_equal }}</p>
    {{ wtf.form_field(form.Area) }}
    <p id='Area_validation'>{{ Area_validation }}</p>
    {{ wtf.form_field(form.Rol) }}
    <p id='rol_validation'>{{ Rol_validation }}</p>
    {{ wtf.form_field(form.Desde) }}
    {{ wtf.form_field(form.Hasta) }}
    <p id='wrong_date'>{{ Wrong_date }}</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crear Usuario</button>
    <p id='user_created'>{{ complete }}</p>
  </form>

</section>


{% endblock %}

{% block jsimport %}
<script src="{{ url_for('static', filename='js/panels.js') }}"></script>
{% endblock %}
