{% extends "base/basic_template_Administrador.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/update_ticket_admin.js') }}"></script>
{% endblock %}

{% block title %}Actualiza un ticket{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
  Actualiza un ticket
  </p>
</div>
{% endblock %}
{% block main %}

<input type="hidden" id="token" name="token" value="{{ token }}">
<input type="hidden" id="ticket-id" name="token" value="{{ ticket.id }}">

<section class="hero is-primary">
  <p></p>
  <div class="hero-body" data-id='{{ user_id }}'>
    <div class="columns is-centered">
      <div class="column is-8">
        <!-- Form -->
        <form id='update_ticket' class="box form_ticket">
          <label class="label"> Titulo</label>
          <input class="input" id='Subject' type="text" placeholder="¿Qué Problema tiene?" value="{{ ticket.Subject }}">
          <span id='err-Subject'></span>

          <label class="label"> Usuario </label>
          <div class="select">
            <select id='User_ID'>
              {% for u in users %}
              <option value="{{ u.id }}" {% if ticket.User_ID==u.id %} selected="selected" {% endif %}>
                {{ u.Username }} - {{ u.Nombre }} {{ u.Apellido }}
              </option>
              {% endfor %}
            </select>
            <span id='err-User_ID'></span>
          </div>

          <label class="label"> Agente </label>
          <div class="select">
            <select id='Agent_ID'>
              <option value="" {% if ticket.Agent_ID==None %} selected="selected" {% endif %}>
                elige un agente
              </option>
              {% for a in agents %}
              <option value="{{ a.id }}" {% if ticket.Agent_ID==a.id %} selected="selected" {% endif %}>
                {{ a.Username }} - {{ a.Nombre }} {{ a.Apellido }}
              </option>
              {% endfor %}
            </select>
            <span id='err-Agent_ID'></span>
          </div>

          <!--  form.subject(class_="input", placeholder="¿Qué Problema tiene?"")  -->
          <label class="label"> Tipo </label>
          <div class="select">
            <select id='ProblemType'>
              <option {% if ticket.Problem_Type=="Hardware" %} selected="selected" {% endif %}>Hardware</option>
              <option {% if ticket.Problem_Type=="Software" %} selected="selected" {% endif %}>Software</option>
            </select>
            <span id='err-ProblemType'></span>
          </div>
          <label class="label"> Area </label>
          <!-- <input class="input" type="text" placeholder="¿Area de la compañia?"> -->
          <div class="select">
            <select id='CompanyArea'>
              <option {% if ticket.Company_Area=="Recursos Humanos" %} selected="selected" {% endif %}>Recursos Humanos</option>
              <option {% if ticket.Company_Area=="Marketing" %} selected="selected" {% endif %}>Marketing</option>
              <option {% if ticket.Company_Area=="Gerencia" %} selected="selected" {% endif %}>Gerencia</option>
            </select>
            <span id='err-CompanyArea'></span>
          </div>
          <label class="label"> Descripcion </label>
          <textarea class="textarea" id='Description' placeholder="Describa su problema">
            {{ ticket.Description }}
          </textarea>
          <span id='err-Description'></span>

          <!-- Botones -->
          <div class="file has-name is-boxed mt-4 mb-4" >
            <button class="button is-large is-link m-auto">Actualizar Ticket</button>
          </div>

        </form>

      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block jsimport %}
{% endblock %}
