{% extends "base/basic_template_Administrador.html" %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/imagegrid.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js" integrity="sha512-zN6KYOtONNTOGXz0RkWX2EpavN9VdIs+2w+To+fhciFv83YA9maUpi2lzZWrOfKXdFIZZomWufBznkyHi3a8oQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block title %}Ticket{% endblock %}

{% block header %}
<div class="hero">

</div>
{% endblock %}

{% block main %}



<section class="hero general">
  <div class="hero-body">
    <div class="section">
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="card">
            <header class="card-header">
              <!-- Problema -->
              <p class="card-header-title">
                {{ ticket.Subject }}
              </p>
              <button class="card-header-icon btn-hide" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-up" aria-hidden="true"></i>
                  <i class="fas fa-angle-down is-hidden" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="columns is-size-7 ">
                  <div class="column">
                    <div class="columns is-gapless">
                      <!-- Reporte -->
                      <div class="column">
                        Reportado por:
                      </div>
                      <div class="column">
                        <strong>{{ owner.Nombre }} {{ owner.Apellido }}</strong>
                      </div>
                    </div>
                  </div>
                  <div class="column ">
                    <div class="columns is-gapless">
                      <!-- Responsable -->
                      <div class="column">
                        Asignado a:
                      </div>
                      <div class="column">
                        <strong>{{ agent.Nombre | default('---') }} {{ agent.Apellido }}</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns is-size-7">
                  <div class="column ">
                    <div class="columns is-gapless">
                      <div class="column">
                        Creado el:
                      </div>
                      <div class="column">
                        <strong>{{ ticket.DateTime }}</strong>
                      </div>
                    </div>
                  </div>
                  <div class="column ">
                    <div class="columns is-gapless">
                      <div class="column">
                        Actualizado el:
                      </div>
                      <div class="column">
                        <strong>{{ ticket.UpdateTime }}</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Dropboxes -->
                <div class="box has-background-link">
                  <div class="columns">
                    <div class="column">
                      <div class="field">
                        <label class="label is-size-7 has-text-primary-light">Estado</label>
                        <p class="control">
                          <span class="select">
                            {{ {
                                0:'No Asignado',
                                1:'Asignado',
                                2:'Completado'
                              }[ticket.Status] | default('---')
                            }}
                          </span>
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Dropboxes Fin -->
              </div>
              <div class="content">
                <p><strong>Descripción</strong></p>
                <p>{{ ticket.Description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="box">
        <div class='chat' id='messages'>
          <!-- Messages -->
          {% for msg in messages %}
            {% if msg.Agent_ID %}
            <article class="message is-info align-right">
              <div class="message-header">
                <p>Tu</p>
              </div>
              <div class="message-body">{{ msg.message }}</div>
            </article>
            {% else %}
              <article class="message is-info align-left">
                <div class="message-header">
                  <p>{{ owner.Nombre }}</p>
                </div>
                <div class="message-body">{{ msg.message }}</div>
              </article>
              {% endif %}
          {% endfor %}
        </div>
        <hr>
        <div class="field is-grouped">

          <p class="control">
            Solo puedes Leer la conversacion
          </p>
        </div>

      </div>
    </div>

  </div>
</section>



<div class="box">




</div>

{% endblock %}

{% block jsimport %}
<!-- <script src="{{ url_for('static', filename='js/modal.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/hidde_button.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/Admin/chat.js') }}"></script>
{% endblock %}