{% extends "base/basic_template_Usuario.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../../../static/scripts/create_ticket_admin.js"></script>
{% endblock %}

{% block title %}Registra un ticket{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
  Registra un ticket
  </p>
</div>
{% endblock %}

{% block main %}

<section class="hero is-primary">
  <p></p>
  <div class="hero-body" data-id='{{ user_id }}'>
    <div class="columns is-centered">
      <div class="column is-8">
        <!-- Form -->
        <form action=""  id='create_ticket' class="box form_ticket">
          <label class="label"> Titulo</label>
          <input class="input" id='subject' type="text" placeholder="¿Qué Problema tiene?">
          <!--  form.subject(class_="input", placeholder="¿Qué Problema tiene?"")  -->
          <label class="label"> Tipo </label>
          <div class="select">
            <select id='problemType'>
              <option>Seleccionar</option>
              <option>Hardware</option>
              <option>Software</option>
            </select>
          </div>
          <label class="label"> Area </label>
          <!-- <input class="input" type="text" placeholder="¿Area de la compañia?"> -->
          <div class="select">
            <select id='company_area'>
              <option>Seleccionar</option>
              <option>Recursos Humanos</option>
              <option>Marketing</option>
              <option>Gerencia</option>
            </select>
          </div>
          <label class="label"> Descripcion </label>
          <textarea class="textarea" id='description' placeholder="Describa su problema"></textarea>

          <!-- Botones -->
          <div class="file has-name is-boxed mt-4 mb-4" >
            <label class="file-label">
              <input class="file-input" type="file" name="foto" >
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  <p class="opcion">
                    Suba un archivo
                  </p>
                  <p class="content">
                    (opcional)
                  </p>
                </span>
              </span>
              <span class="file-name">
                Foto del problema
              </span>
            </label>
            <button class="button is-large is-link m-auto">Crear Ticket</button>
          </div>
          <p id='complete'>{{ complete }}</p>
        </form>
          
      </div>
    </div>

  </div>
  <button class="button is-large is-link m-auto" id="this_window">Ejemplo de Ventana Modal</button>
</section>

<!-- Ejemplo de ventana Modal -->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      Contenido
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>

{% endblock %}

{% block jsimport %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}