{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Admin
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Help Desk</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Configuracion</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="{{ url_for('logout')}}">Salir</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
<div class="container">

  <form class="form-signin" method="POST" action="/admin">
    <h2 class="form-signin-heading">Crear ID</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.user_id) }}
    <p>{{ wrong_id }}</p>
    {{ wtf.form_field(form.admin) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crear ID</button>
    <p>{{ complete }}</p>
  </form>

</div> <!-- /container -->
{% endblock %}