{% extends "base/basic_template_Usuario.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/hidde_button.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='user_tickets.css')}}">
<script type="text/javascript" src="{{url_for('.static', filename='scripts/user_summary.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='scripts/Usuario/tickets.js')}}"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
    Dashboard Usuario
  </p>
</div>
{% endblock %}

{% block main %}

<input type="hidden" id="token" name="token" value="{{ token }}">


<section class="hero is-link">
  <div class="hero-body">
    <!-- Tabs horizontales -->
    <div class="tabs is-boxed has-text-black-bis is-size-5 ">
      <ul>
        <li class="is-active" data-target="search">
          <a>Busqueda</a>
        </li>
        <li data-target="edit">
          <a>Edicion de tarea</a>
        </li>
      </ul>
    </div>
    <!-- Tabs horizontales fin -->

    <!-- Este contenido es un ejemplo de la funcionalidad del file js/tabs.js
    En este caso todo el contenido es cargado a la web pero ocultado excepto
    por el contenido con el tag "is-active"  -->
    <div class="px-2" id="tab-content">
      <div id="search">
        <div class="box">
          <!-- Filtros -->
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Buscar usuario">
            </div>
            <div class="control">
              <a class="button is-info">
                Buscar
              </a>
            </div>
          </div>
          <!-- Dropbox de Busqueda -->
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Estados</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Todos</option>
                      <option>Asignados</option>
                      <option>No Asignados</option>
                      <option>Completados</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Dropbox de Busqueda Fin -->


          <!-- Filtros Fin -->
        </div>
      </div>

      <div  id="edit" class="is-hidden">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label has-text-white">Cambiar Estado de la tarea</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>Acciones</option>
                    <option>Re-abrir</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control">
              <a class="button is-info">
                Aplicar
              </a>
            </div>
          </div>

        </div>


      </div>


    </div>
    <!-- Fin Ejemplo -->


  </div>
</section>

<section class="hero tables-info">

  <div class="box">
    <nav class="panel">
      <p class="panel-tabs">
        <a class="is-active">Todos</a>
        <a>No asignados</a>
        <a>Asignados</a>
        <a>Completados</a>
      </p>

      <!-- Tabla -->
      <div class="columns is-size-6">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="table-container">
            <table class="table is-striped is-hoverable">
              <thead>
                <tr>
                  <th>
                    <button class="card-header-icon is-static" aria-label="more options">
                      <span class="icon">
                        <strong>Selecciona</strong>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <strong>ID</strong>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Estado</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Titulo</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Personal Asignado</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Area</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Fecha</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th><button class="card-header-icon is-static" aria-label="more options">
                    <span class="icon">
                      <strong>Accion</strong>
                    </span>
                  </button></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Selecciona</th>
                  <th>ID</th>
                  <th>Estado</th>
                  <th>Titulo</th>
                  <th>Personal Asignado</th>
                  <th>Area</th>
                  <th>Fecha</th>
                </tr>
              </tfoot>

              <tbody>
                <tr>
                  <th>
                    <button class="card-header-icon is-static" aria-label="more options">
                      <span class="icon">
                        <strong>Selecciona</strong>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <strong>ID</strong>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Estado</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Titulo</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Personal Asignado</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Area</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th>
                    <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-up"></i>
                        <strong>Fecha</strong>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </button>
                  </th>
                  <th><button class="card-header-icon is-static" aria-label="more options">
                    <span class="icon">
                      <strong>Accion</strong>
                    </span>
                  </button></th>
                </tr>

                <tr>
                  <th>Selecciona</th>
                  <th>002</th>
                  <th>
                    <button class="button is-success">Completado</button>
                  </th>
                  <td>Impresora malograda</td>
                  <td>Vegeta ABC</td>
                  <td>IT</td>
                  <td>12-10-2021</td>
                </tr>

                <tr>
                  <th>Selecciona</th>
                  <th>003</th>
                  <th>
                    <button class="button is-danger">No Asignado</button>
                  </th>
                  <td>Se acabo la comida</td>
                  <td> </td>
                  <td>Finanzas</td>
                  <td>12-10-2021</td>
                </tr>

                <tr>
                  <th>Selecciona</th>
                  <th>004</th>
                  <th>
                    <button class="button is-info">Asignado</button>
                  </th>
                  <td>Configuracion de permisos de usuario</td>
                  <td>Yamcha ABC</td>
                  <td>Ventas</td>
                  <td>11-10-2021</td>
                </tr>

              </tbody>
            </table>
            <!-- Pagination -->
            <div class="pagination is-rounded" role="navigation" aria-label="pagination">
              <a class="pagination-previous">Previous</a>
              <a class="pagination-next">Next page</a>
              <ul class="pagination-list">
                <li><a class="pagination-link is-current" aria-label="Goto page 1" aria-current="page">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link" aria-label="Page 46">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
              </ul>
            </div>
            <!-- Pagination End-->
          </div>
        </div>
      </div>
      <!-- Tabla Fin-->

    </nav>

  </div>


</section>

<div class="container bootdey" data-id='{{ User_id }}'>
  <div class="row bootstrap snippets bootdey">
    <div class="col-md-4">
      <div class="box box-widget widget-user-2">
        <div class="widget-user-header bg-yellow">
          <h3 class="widget-user-username">Tus tickets</h3>
        </div>
        <div class="box-footer no-padding">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jsimport %}
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/panels.js') }}"></script>
{% endblock %}
