{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Admin
{% endblock %}

{% block styles %}
{{super()}}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<script type="text/javascript" src="../../static/scripts/script.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Help Desk</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Configuracion</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="{{ url_for('logout')}}">Salir</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
<div class="container">

  <form class="form-signin" method="POST" action="/admin">
    <h2 class="form-signin-heading">Crear ID</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.user_id) }}
    <p>{{ wrong_id }}</p>
    {{ wtf.form_field(form.admin) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crear ID</button>
    <p>{{ complete }}</p>
  </form>
  <hr>
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">
              <table class="table user-list">
                <thead>
                  <tr>
                    <th><span>Usuario</span></th>
                    <th><span>Creado</span></th>
                    <th class="text-center"><span>Estado</span></th>
                    <th><span>Correo</span></th>
                    <th><span>ID</span></th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody class='users'>
                    <tr>
                      <td>
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                        <a href="#" class="user-link">Full name 1</a>
                        <span class="user-subhead">Member</span>
                      </td>
                      <td>2013/08/12</td>
                      <td class="text-center">
                        <span class="label label-default">pending</span>
                      </td>
                      <td>
                        <a href="#">marlon@brando.com</a>
                      </td>
                      <td style="width: 20%;">
                        <a href="#" class="table-link text-warning">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                        <a href="#" class="table-link text-info">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                        <a href="#" class="table-link danger">
                          <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}