{% extends "base/basic_template_Agente_HelpDesk.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block cssimport %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/debugger.css') }}"> -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/create_ticket_admin.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block title %}Registra un ticket{% endblock %}

{% block header %}
<div class="hero">
  <p class="panel-heading ">
  Registra un ticket
  </p>
</div>
{% endblock %}
{% block main %}


<section class="hero is-primary">
  <p></p>
  <div class="hero-body" data-id='{{ user_id }}'>
    <div class="columns is-centered">
      <div class="column is-8">
        <!-- Form -->
        <form id='create_ticket' class="box form_ticket">
          <label class="label"> Titulo</label>
          <input class="input" id='Subject' type="text" placeholder="¿Qué Problema tiene?">
          <span id='err-Subject'></span>

          <label class="label"> Usuario </label>
          <div class="select">
            <select id='User_ID'>
              {% for u in users %}
              <option value="{{ u.id }}">{{ u.Username }} - {{ u.Nombre }} {{ u.Apellido }}</option>
              {% endfor %}
            </select>
          </div>
          <span id='err-User_ID'></span>

          <!--  form.subject(class_="input", placeholder="¿Qué Problema tiene?"")  -->
          <label class="label"> Tipo </label>
          <div class="select">
            <select id='ProblemType'>
              <option>Hardware</option>
              <option>Software</option>
            </select>
          </div>
          <span id='err-ProblemType'></span>

          <label class="label"> Area </label>
          <!-- <input class="input" type="text" placeholder="¿Area de la compañia?"> -->
          <div class="select">
            <select id='CompanyArea'>
              <option>Recursos Humanos</option>
              <option>Marketing</option>
              <option>Gerencia</option>
            </select>
          </div>
          <span id='err-CompanyArea'></span>

          <label class="label"> Descripcion </label>
          <textarea class="textarea" id='Description' placeholder="Describa su problema"></textarea>
          <span id='err-Description'></span>

          <!-- Botones -->
          <div class="file has-name is-boxed mt-4 mb-4" >
            <label class="file-label">
              <input class="file-input" type="file" name="foto" >
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  <p class="opcion">
                    Suba un archivo
                  </p>
                  <p class="content">
                    (opcional)
                  </p>
                </span>
              </span>
              <span class="file-name">
                Foto del problema
              </span>
            </label>
            <button class="button is-large is-link m-auto">Crear Ticket</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block jsimport %}
{% endblock %}
